:root {
    --bgSize: 300px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background:
        linear-gradient(rgba(29, 29, 29, 0.9), rgba(29, 29, 29, 0.9)),
        url('OIU5VX0-removebg-preview.png');
    background-size: var(--bgSize);
    animation: movingBg 7.5s linear infinite;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.wrapper {
    z-index: 2;
    color: white;
    display: flex;
    height: 100vh;
}

.main {
    flex-grow: 1;
    padding: 20px;
}

.toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    color: white;
    background: #fadae4;
    border: none;
    border-radius: 0 5px 5px 0;
}

.toggle:hover {
    background-color: #fdb8ce;
}

.sp-icon-close {
    display: none !important;
}

.side-panel {
    width: 200px;
    flex-shrink: 0;
    padding: 20px;
    color: white;
    background: #fadae4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel:hover {
    background: #fdb8ce;
}

@keyframes movingBg {
    from {
        background-position: 0 0;
    }

    to {
        background-position: var(--bgSize) var(--bgSize);
    }
}